.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: 100%;
    margin: auto;
    border: 1px solid #ddd;

}

.card {
    

    font-size: 1rem;
    color: #333;
    text-align: center;
    margin: 10px 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}
.span {
    font-weight: bold;
    color: #007bff;
    font-size: 1.1rem;
}